@model models.title

@{
    ViewData["Title"] = "Addtitle";
    string mess = ViewBag.mess;

}

<div class="page-header">
    <div class="row">
        <div class="col">
            <h3 class="page-title">Add Title</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item active"><a asp-action="Alltitles">Titlies</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Addtitle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            @if (mess != null)
            {
                        <p class="alert alert-danger">@mess</p>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

